ion-view(ng-controller="UserListCtrl")
  include ../message_block
  ion-nav-title Пользователи
  ion-content
    .bar.bar-header.item-input-inset
      label.item-input-wrapper
        i.icon.ion-ios-search.placeholder-icon
        input(type="search" placeholder="Поиск" ng-keypress="data.search_loading=true"
          ng-model="data.query" ng-change="search();" style="color:black;" ng-model-options="{debounce: 300}")
      button.button.button-clear(ng-click="data.query='';search()") отмена
    ion-list.list
      .item.item-divider(ng-if="data.search_loading" style="text-align:center") Загрузка ...
      a.item.item-avatar(ng-repeat="user in user_list" href="#/app/user/{{ user.id }}")
        img(ng-src="{{ user.avatar_50 }}")
        span(style="float:right" ng-bind-html="user.last_request|online_status")
        h2 {{ user.fullname }}
        p
          i @{{ user.username }}
