ion-view(ng-controller="UserShowCtrl")
  include ../message_block
  ion-nav-title {{ cuser.fullname }}
  ion-tabs
    ion-tab(icon="ion-information-circled")
      ion-nav-view
        ion-view
          ion-content
            ion-list.list
              .item.item-text-wrap(style="text-align:center;")
                img(ng-src="{{ cuser.avatar_100 }}" style="border-radius: 50%;")
                h2 {{ cuser.fullname }}
                p
                  i @{{ cuser.username }}
                p(ng-bind-html="cuser.last_request|online_status")
              .item(ng-if="!cuser.trainer") Тренер
                span.item-note не указан
              .item.item-thumbnail-left(ng-if="cuser.trainer")
                img(ng-src="{{ cuser.trainer.avatar_100 }}" style="border-radius: 50%;")
                p(ng-click="showSearch()") Тренер
                h2
                  a(href="#/app/user/{{ cuser.trainer.id }}")
                    b {{ cuser.trainer.fullname }}
                p
                  i @{{ cuser.trainer.username }}
              .item Подписка
                span.item-note(ng-if="cuser.is_subscribed" ng-bind="'до '+cuser.subscription_date")
                span.item-note(ng-if="!cuser.is_subscribed") нет
              .item Дата регистрации
                span.item-note(ng-bind="cuser.date_joined|ts2date|date:'dd.MM.yy'")
              a.item(ng-if="cuser.vk" href="{{ cuser.vk }}") Ссылка vk.com
              a.item(ng-if="cuser.allpowerlifting" href="{{ cuser.allpowerlifting }}") Ссылка AllPowerlifting.com
    ion-tab(ng-if="badges.plan" icon="ion-calendar" badge="badges.plan" on-select="selectPlan()" badge-style="badge-assertive")
      ion-nav-view
        ion-view
          ion-content
            ion-list
              .item.item-divider(style="text-align:center") Планы пользователя
              .item.item-text-wrap(ng-repeat="plan in plans")
                .row(style="padding:0px;")
                  a.col(href="#/app/plan/{{ plan.id }}") {{ plan.name }}
                .row(style="padding:0px;",ng-if="plan.sportsman")
                  .col(style="text-align:right;") спортсмен:&nbsp;
                    a(href="#/app/user/{{ plan.sportsman.id }}") {{ plan.sportsman.fullname }}
                .row(style="padding:0px;")
                  .col(style="text-align:right;") автор:&nbsp;
                    a(href="#/app/user/{{ plan.author.id }}") {{ plan.author.fullname }}
    ion-tab(ng-if="badges.course" icon="ion-medkit" badge="badges.course" on-select="selectCourse()" badge-style="badge-assertive")
      ion-nav-view
        ion-view
          ion-content
            ion-list
              .item.item-divider(style="text-align:center") СПМ пользователя
              .item.item-text-wrap(ng-repeat="course in courses")
                .row(style="padding:0px;")
                  a.col(href="#/app/spm/{{ course.id }}") {{ course.name }}
                .row(style="padding:0px;",ng-if="course.patient")
                  .col(style="text-align:right;") спортсмен:&nbsp;
                    a(href="#/app/user/{{ course.patient.id }}") {{ course.patient.fullname }}
                .row(style="padding:0px;")
                  .col(style="text-align:right;") автор:&nbsp;
                    a(href="#/app/user/{{ course.author.id }}") {{ course.author.fullname }}
    ion-tab(ng-if="badges.video" icon="ion-ios-videocam" badge="badges.video" on-select="selectVideo()" badge-style="badge-assertive")
      ion-nav-view
        ion-view
          ion-content
            ion-list.list
              .item.item-divider(style="text-align:center") Видео пользователя
              include ../video/preview
    ion-tab(ng-if="badges.student" icon="ion-ios-people" badge="badges.student" on-select="selectStudent()" badge-style="badge-assertive")
      ion-nav-view
        ion-view
          ion-content
            ion-list.list
              .item.item-divider(style="text-align:center") Подопечные
              a.item.item-avatar(ng-repeat="user in students" href="#/app/user/{{ user.id }}")
                img(ng-src="{{ user.avatar_50 }}")
                span(style="float:right" ng-bind-html="user.last_request|online_status")
                h2 {{ user.fullname }}
                p
                  i @{{ user.username }}
    ion-tab(ng-if="badges.weight" icon="ion-stats-bars" badge="badges.weight" on-select="selectWeightStat()" badge-style="badge-assertive")
      ion-nav-view
        ion-view
          ion-content
            div(id="plot_{{ cuser.id }}")
