ion-view(view-title="Подписка" ng-controller="PaymentListCtrl")
  include ../message_block
  ion-tabs
    ion-tab(title="Подписка")
      ion-nav-view
        ion-view
          ion-content
            ion-refresher(pulling-text="Обновить ...",on-refresh="refresh()")
            ion-list
              .item.item-text-wrap(style="text-align:center")
                span Подписка дает возможность видеть скрытые тренировки в планах созданных по СРЦ.
                br
                span Остальной функционал&nbsp;
                  b LMS Workspace
                  &nbsp;полностью бесплатен.
              .item(style="text-align:center" ng-if="$root.user.subscription_date") У Вас подписка до {{ $root.user.subscription_date }}
              .item(style="text-align:center" ng-if="!$root.user.subscription_date") У Вас нет подписки
              div
                .item.item-divider(style="text-align:center") Выберите период
                ion-radio(ng-repeat="tax in taxes" ng-model="data.months" ng-value="tax.months") {{ tax.months }} мес. ({{ tax.sum }} рублей)
            .padding
              button.button.button-block.button-balanced(ng-click="submit()") Оплатить
            .padding
              button.button.button-block.button-balanced(on-tap="$root.checkAuth()") Обновить статус
    ion-tab(title="Счета" badge="invoices.length" badge-style="badge-assertive")
      ion-nav-view
        ion-view
          ion-content
            ion-refresher(pulling-text="Обновить ...",on-refresh="refresh()")
            ion-list
              .item.item-divider(ng-if="invoices.length == 0" style="text-align:center") У вас нет счетов
              .item(ng-repeat="invoice in invoices")
                .row
                  .col {{ invoice.description }}
                .row
                  .col
                    b ({{ invoice.sum }} руб.)
                .row
                  .col создано {{ invoice.created_at|ts2date|date:'d.M.yy в HH:mm' }}
                .row(ng-if="invoice.modified_at")
                  .col завершено {{ invoice.modified_at|ts2date|date:'d.M.yy в HH:mm' }}
                .row
                  .col.ui.label.horizontal {{ invoice.status }}
