ion-modal-view
  include ../message_block
  ion-header-bar(class="bar bar-header bar-stable")
    h1.title Добавить видео
    button(class="button button-clear button-icon ion-android-close" ng-click="closeForm()")
  ion-content
    ion-list.list
      .item.item-input.item-stacked-label
        .row(style="padding:0px")
          .col.col-50(style="padding:0px") Дата выполнения
          .col.col-50(style="padding:0px")
            input(type="date" ng-model="video.executed_at" style="text-align:right;")
      .item
        .row(style="padding:0px")
          .col.col-30(style="padding:0px") Упражнение
          .col.col-70(style="text-align:right;padding:0px" on-tap="exercise_selector.show()") {{ video.exercise_name }}
      .item.item-input
        .row(style="padding: 0px;")
          .col.col-33(style="padding: 0px")
            p Вес
            p
              input(type="number" ng-model="video.weight")
          .col.col-33(style="padding: 0px")
            p Повторения
            p
              input(type="number" ng-model="video.reps")
          .col.col-33(style="padding: 0px")
            p Подход
            p
              input(type="number" ng-model="video.app")
      .item.item-input
        input(type="text" placeholder="Название (необязательно)" ng-model="video.title")
      ion-item.item
        textarea.text-input(autocomplete="off" placeholder="Описание (необязательно)" ng-model="video.description")
      a.item.button.button-full.button-balanced(ng-click="sendForm()") Сохранить видео
