ion-view(view-title="Мои видео")
  include ../message_block
  ion-nav-buttons(side="right")
    button(class="button button-icon button-clear ion-plus",ng-click="showForm()")
  ion-content(ng-controller="VideoListCtrl")
    ion-refresher(pulling-text="Обновить ...",on-refresh="refresh()")
    .bar.bar-header.item-input-inset
      label.item-input-wrapper
        i.icon.ion-ios-search.placeholder-icon
        input(type="search",placeholder="Поиск",ng-model="query",ng-change="search()",style="color:black;")
      button.button.button-clear(ng-click="query='';search()") отмена
    .list {{ msg }}
      include ../video/preview
