a.item.item-thumbnail-left(ng-repeat="video in videos",href="#/app/video/{{ video.id }}")
  img(ng-src="{{ getImageSrc(video.youtube_id) }}")
  h2(style="white-space:normal;") {{ video.name }}
  p выполнено: {{ video.executed_at }}
  p
    i.icon.ion-eye
    span  {{ video.view_count }}
