ion-view(ng-controller="VideoShowCtrl")
  ion-nav-buttons(side="right")
    button(class="button button-icon button-clear ion-android-share",ng-click="share()")
  include ../message_block
  ion-nav-title Просмотр видео
  ion-content
    .row
      .col
        .video-container
          iframe(ng-src="{{ getIframeSrc(video.youtube_id) }}",frameborder="0",allowfullscreen)
    .list
      .item.item-text-wrap {{ video.name }}
      .item.item-icon-left Просмотров
        i.icon.ion-eye
        span.item-note {{ video.view_count }}
      .item выполнено:
        span.item-note {{ video.executed_at }}
      .item.item-text-wrap(ng-if="video.title") {{ video.title }}
      .item.item-text-wrap(ng-if="video.description") {{ video.description }}
      .item.button.button-full.button-assertive.ion-close(ng-if="$root.user.id==video.user.pk" ng-click="deleteVideo();") &nbsp;Удалить видео
