ion-view(ng-controller="ProfileEditCtrl")
  include ../message_block
  ion-nav-title Профиль
  ion-nav-buttons(side="right")
    button(class="button button-clear",ng-click="saveProfile()") Сохранить
  ion-content
    ion-refresher(pulling-text="Обновить ..." on-refresh="update()")
    ion-list.list {{ msg }}
      .item(style="text-align:center;" on-tap="setAvatar()")
        img(ng-src="{{ user.avatar_100 }}" style="border-radius: 50%; max-width:100px;max-height:100px;")
        br
        .button.button-small.button-balanced выбрать фото
      .pad0(style="color:red" ng-if="errors.avatar") {{ errors.avatar[0] }}
      label.item.item-input.item-stacked-label(ng-if="!user.trainer" ng-click="showSearch()")
        span.input-label Ваш тренер
        input(type="text" onlyread="true" value="не указано")
      .item.item-thumbnail-left(ng-if="user.trainer")
        img(ng-src="{{ user.trainer.avatar_100 }}" style="border-radius: 50%;")
        p(ng-click="showSearch()") Ваш тренер
          &nbsp;
          i.icon.ion-android-close(ng-click="user.trainer=null" style="float:right") &nbsp;сборс
        h2
          a(href="#/app/user/{{ user.trainer.id }}")
            b {{ user.trainer.fullname }}
        p
          i @{{ user.trainer.username }}
      label.item.item-input.item-stacked-label
        span.input-label Имя пользователя
        input(type="text" ng-model="user.username")
      .pad0(style="color:red" ng-if="errors.username") {{ errors.username[0] }}
      label.item.item-input.item-stacked-label
        span.input-label Имя
        input(type="text" ng-model="user.first_name")
      .pad0(style="color:red" ng-if="errors.first_name") {{ errors.first_name[0] }}
      label.item.item-input.item-stacked-label
        span.input-label Фамилия
        input(type="text" ng-model="user.last_name")
      .pad0(style="color:red" ng-if="errors.last_name") {{ errors.last_name[0] }}
      label.item.item-input.item-select
        span.input-label Пол
        select(type="text" ng-model="user.gender" style="color:#eee")
          option(value="male") мужской
          option(value="female") женский
      .pad0(style="color:red" ng-if="errors.gender") {{ errors.gender[0] }}
      label.item.item-input.item-stacked-label
        span.input-label Страница на AllPowerlifting.com
        input(type="url" ng-model="user.allpowerlifting")
      .pad0(style="color:red" ng-if="errors.allpowerlifting") {{ errors.allpowerlifting[0] }}
      .pad0(style="color:red" ng-if="errors.trainer") {{ errors.trainer[0] }}
