ion-view(ng-controller="StudentListCtrl")
  include ../message_block
  ion-nav-title Избранное
  ion-content
    ion-refresher(pulling-text="Обновить ..." on-refresh="update(true)")
    ion-list.list
      .item.item-text-wrap(ng-if="favorites.length==0" style="text-align:center")
        p У вас нет избранных элементов. Добавить их можно на основном сайте
        p
          b
            a(href="http://ws.last-man.org/") http://ws.last-man.org/
      div(ng-repeat="obj in favorites" )
        a.item.item-icon-left(ng-if="obj.type=='plan'" href="#/app/plan/{{ obj.id }}")
          i.icon.ion-calendar
          {{ obj.name }}
        a.item.item-icon-left(ng-if="obj.type=='spm'" href="#/app/spm/{{ obj.id }}")
          i.icon.ion-medkit
          {{ obj.name }}
