ion-view(ng-controller="NotificationListCtrl")
  include ../message_block
  ion-nav-title Уведомления
  ion-content
    ion-refresher(pulling-text="Обновить ..." on-refresh="update(true)")
    ion-list.list.notifications
      .item.item-divider(ng-if="notifications.length==0" style="text-align:center")
        p У вас нет уведомлений
      div(ng-repeat="n in notifications" ng-bind-html="n.content")
