ion-view(ng-controller="StudentListCtrl")
  include ../message_block
  ion-nav-title Подопечные
  ion-content
    ion-refresher(pulling-text="Обновить ..." on-refresh="update(true)")
    ion-list.list
      .item.item-text-wrap(ng-if="students.length==0" style="text-align:center")
        p У вас нет подопечных.
        p Подопечные должны указать вас как тренера в своем профиле, чтобы вы могли иметь доступ к личным данным.
      a.item.item-avatar(ng-repeat="user in students" href="#/app/user/{{ user.id }}" )
        img(ng-src="{{ user.avatar_50 }}")
        span(style="float:right" ng-bind-html="user.last_request|online_status")
        h2 {{ user.fullname }}
        p
          i @{{ user.username }}
