ion-modal-view
  ion-header-bar(class="bar bar-header bar-stable")
    h1.title Выберите тренера
    button(class="button button-clear button-icon ion-android-close" ng-click="hideSearch()")
  ion-content
    .bar.bar-header.item-input-inset
      label.item-input-wrapper
        i.icon.ion-ios-search.placeholder-icon
        input(type="search" placeholder="Поиск" ng-keypress="data.search_loading=true"
          ng-model="data.query" ng-change="searchTrainer();" style="color:black;" ng-model-options="{debounce: 300}")
      button.button.button-clear(ng-click="data.query='';searchTrainer()") отмена
    ion-list.list
      .item.item-divider(ng-if="data.search_loading" style="text-align:center") Загрузка ...
      .item.item-avatar(ng-repeat="user in user_list" ng-click="setTrainer(user)")
        img(ng-src="{{ user.avatar_50 }}")
        span(style="float:right" ng-bind-html="user.last_request|online_status")
        h2
          span(ng-if="user.id != $root.user.trainer.id") {{ user.fullname }}
          b(ng-if="user.id == $root.user.trainer.id") {{ user.fullname }}
        p
          i @{{ user.username }}
