ion-view(ng-controller="PlanListCtrl" view-title="Мои планы")
  include ../message_block
  ion-content
    ion-refresher(pulling-text="Обновить ...",on-refresh="update(true)")
    ion-list(ng-switch="plans.length")
      .item.item-text-wrap(style="text-align:center") Создать или редактировать план вы можете по ссылке
        p
          b
            a(href="http://ws.last-man.org/plan/list/") http://ws.last-man.org/plan/list/
      .item.item-divider(ng-switch-when="0")
        p(style="text-align:center") Планов нет
      .item.item-text-wrap(ng-if="!$root.user",style="text-align: center;") Для просмотра планов необходимо авторизироваться
      .item.button.button-full.button-balanced.ion-log-in(ng-if="!$root.user",ng-click="$root.login();") &nbsp;Войти
      .item.item-text-wrap(ng-if="$root.user",ng-switch-default,ng-repeat="plan in plans")
        .row(style="padding:0px;")
          a.col(href="#/app/plan/{{ plan.id }}") {{ plan.name }}
        .row(style="padding:0px;",ng-if="plan.sportsman")
          .col(style="text-align:right;") спортсмен:&nbsp;
            a(href="#/app/user/{{ plan.sportsman.id }}") {{ plan.sportsman.fullname }}
        .row(style="padding:0px;")
          .col(style="text-align:right;") автор:&nbsp;
            a(href="#/app/user/{{ plan.author.id }}") {{ plan.author.fullname }}
