ion-view
  include ../message_block
  ion-nav-title {{ plan.name }}
  ion-content(ng-controller="PlanShowCtrl")
    ion-refresher(pulling-text="Загрузить предыдущие дни",on-refresh="loadUp()")
    ion-list.list
      div(ng-repeat="day in days")
        .item.item-divider(ng-if="day.weeknum")
          b Неделя №{{ day.weeknum }}
        .item.item-divider {{ day.date|ts2date|date:'dd.MM.yy EEEE' }}
        .card(ng-repeat="train in day.trains")
          .item.item-divider {{ train.name }}
          include ../train/preview
    ion-infinite-scroll(on-infinite="loadDown()",distance="1%")
