ion-modal-view
  ion-header-bar(class="bar bar-header bar-stable")
    h1.title {{ data.title }}
    button(class="button button-clear button-icon ion-android-close" ng-click="hide()")
  ion-content
    .bar.bar-header.item-input-inset
      label.item-input-wrapper
        i.icon.ion-ios-search.placeholder-icon
        input(type="search" placeholder="Поиск" ng-model="data.query" ng-change="search()" style="color:black;")
      button.button.button-clear(ng-click="data.query='';search()") отмена
    ion-list.list
      span(ng-repeat="item in data.items")
        .item(ng-if="item.id == data.current_id" on-tap="select(item)")
          .icon.ion-checkmark-round  {{ item.name }}
        .item(ng-if="item.id != data.current_id" on-tap="select(item)") {{ item.name }}
