ion-view(view-title="Калькулятор абсолютки")
  ion-content(ng-controller="UtilCalcCtrl")
    .item.item-divider
      .row(style="padding:0px")
        .col.col-50(style="padding:0px") Пол спортсменов
        .col.col-50(on-tap="changeSex()" style="text-align:right;padding:0px") {{ data.sexes[data.sex] }}
    .item.item-divider Вес тела (кг)
    .item.item-input
      .row(style="padding:0px")
        .col.col-50(style="padding:0px")
          input(type="number",ng-model="data.body_weight1",ng-change="calcScores()" style="text-align:right"
            ng-focus="data.body_weight1=data.body_weight1 === 0 ? '' : data.body_weight1",
            ng-blur="data.body_weight1=data.body_weight1 === '' ? 0 : data.body_weight1")
        .col.col-50(style="padding:0px")
          input(type="number",ng-model="data.body_weight2",ng-change="calcScores()" style="text-align:right"
            ng-focus="data.body_weight2=data.body_weight2 === 0 ? '' : data.body_weight2",
            ng-blur="data.body_weight2=data.body_weight2 === '' ? 0 : data.body_weight2")
    .item.item-divider Поднятый вес (кг)
    .item.item-input
      .row(style="padding:0px")
        .col.col-50(style="padding:0px")
          input(type="number",ng-model="data.total_weight1",ng-change="calcScores()" style="text-align:right"
            ng-focus="data.total_weight1=data.total_weight1 === 0 ? '' : data.total_weight1",
            ng-blur="data.total_weight1=data.total_weight1 === '' ? 0 : data.total_weight1")
        .col.col-50(style="padding:0px")
          input(type="number",ng-model="data.total_weight2",ng-change="calcScores()" style="text-align:right"
            ng-focus="data.total_weight2=data.total_weight2 === 0 ? '' : data.total_weight2",
            ng-blur="data.total_weight2=data.total_weight2 === '' ? 0 : data.total_weight2")
    .item.item-divider Возраст (лет)
    .item.item-input
      .row(style="padding:0px")
        .col.col-50(style="padding:0px")
          input(type="number",ng-model="data.age1",ng-change="calcScores()" style="text-align:right" placeholder="любой")
        .col.col-50(style="padding:0px")
          input(type="number",ng-model="data.age2",ng-change="calcScores()" style="text-align:right" placeholder="любой")
    .item.item-divider Вилкс
      span(style="float:right") IPF, IPL, СПР
    .item.item-input
      .row(style="padding:0px")
        .col(style="padding:0px;text-align:right;")
          span(class="ui label horizontal {{ data.wilks_color1 }}") {{ data.wilks1|number:3 }}
        .col(style="padding:0px;text-align:right;")
          span(class="ui label horizontal {{ data.wilks_color2 }}") {{ data.wilks2|number:3 }}
    .item.item-divider Глоссбренер
      span(style="float:right") AWPC, WPC, GPC, WPF, WPA
    .item.item-input
      .row(style="padding:0px")
        .col(style="padding:0px;text-align:right;")
          span(class="ui label horizontal {{ data.gross_color1 }}") {{ data.gross1|number:3 }}
        .col(style="padding:0px;text-align:right;")
          span(class="ui label horizontal {{ data.gross_color2 }}") {{ data.gross2|number:3 }}
    .item.item-divider Шварца-Мэлоуна
      span(style="float:right") IPA, НАП
    .item.item-input
      .row(style="padding:0px")
        .col(style="padding:0px;text-align:right;")
          span(class="ui label horizontal {{ data.sm_color1 }}") {{ data.sm1|number:3 }}
        .col(style="padding:0px;text-align:right;")
          span(class="ui label horizontal {{ data.sm_color2 }}") {{ data.sm2|number:3 }}
    .item.item-divider Рейшел
      span(style="float:right") WPC
    .item.item-input
      .row(style="padding:0px")
        .col(style="padding:0px;text-align:right;")
          span(class="ui label horizontal {{ data.reshel_color1 }}") {{ data.reshel1|number:3 }}
        .col(style="padding:0px;text-align:right;")
          span(class="ui label horizontal {{ data.reshel_color2 }}") {{ data.reshel2|number:3 }}
