ion-view(view-title="Конвертер анализов")
  ion-content(ng-controller="UtilConverterCtrl")
    div(ng-repeat="obj in list")
      .item.item-divider {{ obj.name }}
      .item.item-input
        .row.pad0
          .col.pad0(style="text-align:left")
            input(type="number" string-to-number ng-model="obj.master_value" ng-init="obj.master_value=0" ng-change="changeMaster(obj)"
              ng-focus="obj.master_value=obj.master_value === 0 ? '' : obj.master_value"
              ng-blur="obj.master_value=obj.master_value === '' ? 0 : obj.master_value")
            span.ui.label.horizontal {{ obj.master_unit }}
          .col.pad0(style="text-align:left")
            input(type="number" string-to-number ng-model="obj.slave_value" ng-init="obj.slave_value=0" ng-change="changeSlave(obj)"
              ng-focus="obj.slave_value=obj.slave_value === 0 ? '' : obj.slave_value"
              ng-blur="obj.slave_value=obj.slave_value === '' ? 0 : obj.slave_value")
            span.ui.label.horizontal(ng-repeat="u in obj.slave_units") {{ u }}
