ion-view(view-title="Расчет разминки")
  include ../message_block
  ion-content(ng-controller="UtilWarmupCtrl")
    .item.item-divider Параметры
    label.item.item-input
      span.input-label Вес, кг
      input(type="number",ng-model="data.weight"
        ng-focus="data.weight=data.weight === 0 ? '' : data.weight",
        ng-blur="data.weight=data.weight === '' ? 0 : data.weight")
    label.item.item-input
      span.input-label Повторения, раз
      input(type="number",ng-model="data.reps"
        ng-focus="data.reps=data.reps === 0 ? '' : data.reps",
        ng-blur="data.reps=data.reps === '' ? 0 : data.reps")
    label.item.item-input(ng-if="data.reps==1")
      span.input-label Время выхода на помост
      span(on-touch="showStartTime()") {{ timeFormat(data.start_time) }}
    a.item.button.button-full.button-balanced(ng-click="calcWarmup()") Расчитать разминку
    .item.item-divider Разминка
    .item(ng-repeat="s in data.warmup" on-hold="clickScheme($index)"
      class="warmup-item {{ $index == data.current_scheme_num ? 'warmup-active' : '' }} {{ $index < data.current_scheme_num ? 'warmup-done' : '' }}")
      .row
        .col.col-30 {{ $index+1 }}. {{ s.weight }}кг на {{ s.reps }}
        .col.col-70
          span(ng-if="data.reps==1") {{ timeFormat(s.time) }}
          i.ion-ios-circle-outline(ng-if="$index > data.current_scheme_num" style="float:right;font-size:200%;")
          i.ion-checkmark-circled(ng-if="$index < data.current_scheme_num" style="float:right;font-size:200%;")
          i.ion-record(ng-if="$index == data.current_scheme_num" style="float:right;font-size:200%;")
    .item(style="text-align:center;font-size:200%;padding:6px;background-color:rgb(239, 71, 58);color:white;font-weight:bold;")
      .row
        .col.col-100
          {{ data.weight }}кг на {{ data.reps }}
