ion-view(ng-controller="ChatCtrl")
  ion-nav-title
   span(ng-if="connected") Чат ({{ count }}/{{ guests_count }})
   span(ng-if="!connected") Подключение...
  include ../message_block_pad
  ion-nav-buttons(side="right")
    button.button-icon.button-clear.ion-ios-people(ng-click="usersModal.show();query='';search()")
  ion-content(delegate-handle="chatScroll")
    ion-refresher(pulling-text="Предыдущие сообщения" on-refresh="update()")
    audio(id="audio" src="audio/message.mp3")
    span(ng-if="!connected") Подключение к серверу
    .messages(ng-if="connected" ng-repeat="message in messages track by $index")
      .message(ng-class="{'other': message.user.id == $root.user.id}")
        span
          i(class="icon {{ getIcon(message.user) }}") &nbsp;
          span(ng-click="addRecipient(message.user.username);usersModal.hide()") {{ message.user.name }}
          span(style="float:right") &nbsp;{{ message.date|ts2date|date:'dd.MM H:mm' }}
          br
          span(ng-bind-html="message.content")
  ion-footer-bar.bar-stable.item-input-inset(keyboard-attach)
    label.item-input-wrapper
      input#message(type="text" style="color:black;"
        placeholder="Введите свое сообщение" on-return="sendMessage();" ng-model="data.message")
    button.button.button-clear(ng-click="sendMessage()") Отправить
