ion-modal-view
  include ../message_block
  ion-header-bar(class="bar bar-header bar-stable")
    h1.title Список пользователей ({{ count }}/{{ guests_count }})
    button(class="button button-clear button-icon ion-android-close",ng-click="usersModal.hide()")
  ion-content
    .bar.bar-header.item-input-inset
      label.item-input-wrapper
        i.icon.ion-ios-search.placeholder-icon
        input(type="search" placeholder="Поиск" ng-model="data.query" ng-change="search()" style="color:black;")
      button.button.button-clear(ng-click="query='';search()") отмена
    ion-list.list
      .item.item-avatar(ng-repeat="user in user_list | orderBy:'id'")
        img(ng-src="{{ user.avatar_50 }}" ng-click="profile(user)")
        h2(ng-click="addRecipient(user.username);usersModal.hide()")
          i(class="icon {{ getIcon(user) }}") &nbsp;
          span(ng-if="user.id != $root.user.id") {{ user.name }}
          b(ng-if="user.id == $root.user.id") {{ user.name }} (Вы)
        p(ng-click="addRecipient(user.username);usersModal.hide()")
          i @{{ user.username }}
