ion-view(ng-controller="LoginCtrl")
  ion-content
    ion-list.list
      .item.item-text-wrap(style="text-align:center;")
        p(style="font-size:24px;font-weight:bold;") Авторизация
        p(style="font-size:20px;") ws.last-man.org
      .item.item-text-wrap(style="text-align:center") Войдите через
      .item.button.button-full(ng-click="loginWith('vk-oauth')" style="background-color:#466482;color:white;") Вконтакте
      .item.button.button-full(ng-click="loginWith('facebook')" style="background-color:#3b5998;color:white;") Facebook
      .item.button.button-full(ng-click="loginWith('google-oauth2')" style="background-color:#dd4b39;color:white;") Google

