ion-side-menus(enable-menu-with-back-views="true")
  ion-side-menu-content
    ion-nav-bar.bar-stable
      ion-nav-back-button
      ion-nav-buttons(side="left")
        button.button.button-icon.button-clear.ion-navicon(menu-toggle="left")
    ion-nav-view(name="menuContent")
  ion-side-menu(side="left")
    ion-content
      ion-list.my-menu
        div(ng-if="$root.user")
          a.mar0.button.button-full.button-small(menu-close style="padding-top:15px !important;font-weight:bold;" href="#/app/payment/list"
            ng-class="{'button-assertive': !$root.user.subscription_date, 'button-stable': $root.user.subscription_date}")
            span {{ $root.user.subscription_date ? 'Подписка до ' + $root.user.subscription_date : 'Подписки нет' }}
        .item.item-thumbnail-left(ng-if="$root.user" style="text-align:center")
          img(ng-src="{{ $root.user.avatar_100 }}" style="border-radius: 50%;")
          h2 {{ $root.user.fullname }}
          p(style="font-style:italic") @{{ $root.user.username }}
          p
            a.button.button-small.button-stable(menu-close href="#/app/profile/edit") редактировать
        .item(ng-if="!$root.user" style="text-align:center")
          a.button.button-large.button-balanced(menu-close,on-tap="$root.login();") Войти
        .item.item-text-wrap(ng-repeat="upload in $root.uploads" ng-if="upload")
          div {{ upload.title }}
            span(ng-if="upload.infinity")
              &nbsp;
              i.icon.ion-load-c.spinner
          .loader(ng-if="upload.progress" style="width: {{ upload.progress > 15 ? upload.progress : 15 }}%;")
            p.percent {{ upload.progress }}%
        ion-item.item-divider.my-shadow(ng-if="msg_content" style="text-align:center") Сообщение
        .row.pad0(ng-if="msg_content")
          .col(menu-close)
            div(style="margin:10px;" ng-bind-html="msg_content")
        ion-item.item-divider.my-shadow(style="text-align:center") Сегодня {{ $root.date|date:'EEEE, dd.MM' }}
        .row(style="font-size: 16px;text-align:center;padding-top:14px")
          a.col(menu-close ng-click="$root.ws_mode='trains';$root.$emit('ws_mode', 'trains')" href="#/app/ws" style="text-decoration: none;")
            .badge.badge-positive {{ trains_badge }}
            p.my-shadow Тренировки
          a.col(menu-close ng-click="$root.ws_mode='meds';$root.$emit('ws_mode', 'meds')" href="#/app/ws" style="text-decoration: none;")
            .badge.badge-positive {{ meds_badge }}
            p.my-shadow Медикаменты
        ion-item.item-divider.my-shadow(style="text-align:center") Моё меню
        .row.my-shadow(style="text-align:center;padding:10px 0 0 0")
          a.col(menu-close,href="#/app/plan/list",style="text-decoration: none;")
            icon.ion-calendar.my-menu-icon
            p.my-menu-title Планы
          a.col(menu-close,href="#/app/spm/list",style="text-decoration: none;")
            icon.ion-medkit.my-menu-icon
            p.my-menu-title СПМ
          a.col(menu-close,href="#/app/video/list",style="text-decoration: none;")
            icon.ion-ios-videocam.my-menu-icon
            p.my-menu-title Видео
          a.col(menu-close,href="#/app/weight-stat",style="text-decoration: none;")
            icon.ion-stats-bars.my-menu-icon
            p.my-menu-title Вес
        .row.my-shadow(style="text-align:center;padding:10px 0 10px 0")
          a.col(menu-close,href="#/app/favorites",style="text-decoration: none;")
            icon.ion-star.my-menu-icon
            br
            .badge.badge-positive {{ $root.counts.favorites }}
          a.col(menu-close,href="#/app/notifications",style="text-decoration: none;")
            icon.ion-ios-bell.my-menu-icon
            br
            .badge.badge-positive {{ $root.counts.notifications }}
          a.col(menu-close,href="#/app/students",style="text-decoration: none;")
            icon.ion-ios-people.my-menu-icon
            br
            .badge.badge-positive {{ $root.counts.students }}
        ion-item.item-divider.my-shadow(style="text-align:center") База
        .row.my-shadow(style="text-align:center;padding:10px 0 0 0")
          a.col(menu-close,href="#/app/cycle/list",style="text-decoration: none;")
            icon.ion-calendar.my-menu-icon
            p.my-menu-title СРЦ
          a.col(menu-close,href="#/app/exercise/list",style="text-decoration: none;")
            icon.ion-flash.my-menu-icon
            p.my-menu-title Упражнения
          a.col(menu-close href="#/app/user/list" style="text-decoration: none;")
            icon.ion-ios-people.my-menu-icon
            p.my-menu-title Поиск
        ion-item.item-divider.my-shadow(style="text-align:center") Приложение
        a.item.item-icon-left(ng-if="$root.platform!='ios'" menu-close href="#/app/chat")
          i.icon.ion-chatboxes
          Чат
        a.item.item-icon-left(menu-close href="#/app/about")
          i.icon.ion-help
          О приложении
        //a.item.item-icon-left(menu-close href="#/app/settings")
        //  i.icon.ion-android-settings
        //  Настройки
        a.item.item-icon-left(ng-click="$root.disconnect()")
          i.icon.ion-android-exit
          Выход
        ion-item.item-divider.my-shadow(style="text-align:center") Утилиты
        ion-item.my-shadow(menu-close href="#/app/util/converter") Конвертер анализов
        ion-item.my-shadow(menu-close href="#/app/util/warmup") Расчет разминки
        ion-item.my-shadow(menu-close href="#/app/util/calc") Калькулятор абсолютки
