ion-view(view-title="Упражнения")
  include ../message_block
  ion-content(ng-controller="ExerciseListCtrl")
    ion-refresher(pulling-text="Обновить ...",on-refresh="update(true)")
    .bar.bar-header.item-input-inset
      label.item-input-wrapper
        i.icon.ion-ios-search.placeholder-icon
        input(type="search",placeholder="Поиск",ng-model="query",ng-change="search()")
      button.button.button-clear(ng-click="query=''") отмена
    ion-list
      a.item(ng-repeat="e in exercises | filter:query",href="#/app/exercise/{{ e.id }}") {{ e.name }}
