ion-view
  ion-nav-title {{ exercise.name }}
  include ../message_block
  ion-content(ng-controller="ExerciseShowCtrl")
    ion-refresher(pulling-text="Обновить ...",on-refresh="update(true)")
    ion-list
      .item.item-text-wrap(ng-if="exercise.content",ng-bind-html="exercise.content")
      .item.item-text-wrap(ng-if="!exercise.content")
        p(style="text-align:center") Информация об упражнении будет добавлена в ближайшее время
