ion-view
  ion-nav-title О приложении
  ion-content
    .row.pad0
      .col
        img(src="img/lms144.png")
    .row.pad0
      .col Приложение LMS Workspace
    .row.pad0
      .col Версия {{ $root.version }}
    .row.pad0
      .col
        a(href="http://ws.last-man.org") http://ws.last-man.org
    ion-list
      ion-item.item-divider.my-shadow(style="text-align:center") Разработка LMS Workspace
      .item.item-thumbnail-left
        img(src="img/team/gd.jpg")
        h2
          a(href="#/app/user/3") Головинский Дмитрий
        p Методист, автор планов
      .item.item-thumbnail-left
        img(src="img/team/tm.jpg")
        h2
          a(href="#/app/user/2") Талипов Марсель
        p Разработчик
        p t.mars@mail.ru
      .item.item-thumbnail-left
        img(src="img/team/gr.jpg")
        h2
          a(href="#/app/user/2454") Роман Жулябин
        p Контент-менеджер
