ion-view(ng-controller="DonateCtrl")
  include ../message_block
  ion-nav-title Пожертвование
  ion-content
    ion-list
      ion-radio(ng-model="data.sum" ng-value="100") 100 рублей
      ion-radio(ng-model="data.sum" ng-value="200") 200 рублей
      ion-radio(ng-model="data.sum" ng-value="400") 400 рублей
      ion-radio(ng-model="data.sum" ng-value="800") 800 рублей
    .padding
      button.button.button-block.button-balanced(on-tap="submit()") Пожертвовать
