ion-view(ng-controller="SettingsCtrl")
  ion-nav-title Настройки
  ion-content
    ion-list
      ion-item.item-divider Тема оформления
      ion-radio(ng-model="style" ng-value="'dark'") Темная
      ion-radio(ng-model="style" ng-value="'default'") Светлая
    .padding
      button.button.button-block.button-balanced(on-tap="save(style)") Сохранить
