.item.item-text-wrap(style="padding:0px;")
  div(ng-if="train.is_hidden")
    .row
      .col(style="text-align:center;vertial-align:top;")
        b тренировка скрыта, чтобы открыть
          br
          a(href="#/app/payment/list") продлите подписку
div(id="train_content_{{ train.id }}")
  .row(style="font-size: 16px;text-align:center;padding-top:4px")
    .col
      .badge.badge-positive {{ train.tonag|number:0 }}
      br
      span Тоннаж
    .col
      .badge.badge-positive {{ train.kps|number:0 }}
      br
      span КПШ
    .col
      .badge.badge-positive {{ train.percent|number:2 }}%
      br
      span ОИ
  .item.item-text-wrap(style="padding:0px;")
    div(ng-repeat="e in train.executions")
      .row(style="padding:0px;")
        .col(style="vertical-align:top;")
          span(class="ui mini label {{ e.level|level_color }}")
            {{$index+1}}
          &nbsp;
          span(ng-switch="e.level")
            span(ng-switch-when="other")
              {{ e.other.name }}
            a(ng-switch-default,href="#/app/exercise/{{ e.exercise.id }}")
              {{ e.exercise.name }}
      .row(style="padding:0px;")
        .col(style="text-align:right;")
          div(ng-switch="e.level")
            div(ng-switch-when="other",class="ui label horizontal {{ e.other.color|info_color }}",style="margin:2px;")
              {{ e.other.weight }}{{ e.other.reps ? ' ' + e.other.reps : '' }}{{ e.other.apps ? ' ' + e.other.apps : '' }}
            div(ng-switch-default)
              div.scheme-block(class="ui label horizontal",ng-if="e.is_hidden") скрыто
              div.scheme-block(class="ui label horizontal {{ s.color|info_color }}",ng-repeat="s in e.scheme",
                ng-init="s.clicked=1",ng-click="s.clicked = s.clicked ? 0 : 1")
                span(ng-switch="s.clicked")
                  span(ng-switch-when="1")
                    {{ s.weight }}кг
                  span(ng-switch-when="0")
                    {{ s.percent }}%
                  span
                    {{ s.apps > 1 ? (' ' + s.apps + ' по ' + s.reps ) : (' на ' + s.reps ) }}
.row.pad0
  .col.pad0.button.button-full.button-stable.mar0(ng-if="train.comment" ng-click="$root.showMessagePopup('Комментарии', train.comment);")
    i.ion-ios-chatbubble &nbsp;
    span Комментарии
  .col.pad0.button.button-full.button-stable.mar0(ng-if="train.resume" ng-click="$root.showMessagePopup('Итоги', train.resume);")
    i.ion-ios-chatbubble &nbsp;
    span Итоги
.row.pad0
  a.col.col-50.pad0.button.button-full.button-stable.mar0(href="#/app/train/{{ train.id}}")
    i.ion-checkmark-circled(ng-if="train.is_done") &nbsp;
    i.ion-play(ng-if="!train.is_done") &nbsp;
    span Открыть
  a.col.col-50.pad0.button.button-full.button-stable.mar0(ng-click="$root.shareTrain(train);")
    i.ion-android-share &nbsp;
    span Поделиться
