ion-list.list
  ion-item(ng-if='schemeMenu.video_id' href='#/app/video/{{ schemeMenu.video_id }}' ng-click='hideSchemeMenu()') Смотреть видео
  ion-item(ng-if='schemeMenu.add_video' ng-click='addVideo(schemeMenu.execution, schemeMenu.scheme, schemeMenu.app);hideSchemeMenu()') Добавить видео
  ion-item(ng-if='state.active' ng-click='schemeDone(schemeMenu.scheme);hideSchemeMenu()') Выполнить подход
  ion-item(ng-if='state.active' ng-click='schemeCancel(schemeMenu.scheme);hideSchemeMenu()') Отменить подход
  ion-item(ng-click='hideSchemeMenu()') Закрыть
