ion-view(ng-controller="TrainShowCtrl",view-title="Тренировка")
  ion-nav-buttons(side="right")
    small(ng-if="state.start && state.stop") ({{ state.is_saved ? 'сохранено' : 'не сохранено' }})&nbsp;
    button.button-icon.button-clear.ion-ios-paper(ng-click="showStats()")
  include ../message_block_pad
  ion-content
    ion-refresher(pulling-text="Обновить ...",on-refresh="update(true)")
    div(id="train_content_{{ train.id }}")
      ion-list
        a.item.item-divider(href="#/app/plan/{{train.plan.id}}",style="text-align:center")
          {{ train.plan.name }}
          span(ng-if="train.name") &nbsp;({{ train.name }})
        div(ng-repeat="e in train.executions")
          .item.item-divider(style="padding:0px;")
            .row
              .col
                span(class="ui mini label {{ e.level|level_color }}")
                  {{$index+1}}
                &nbsp;
                span(ng-switch="e.level")
                  span(ng-switch-when="other")
                    {{ e.other.name }}
                  a(ng-switch-default,href="#/app/exercise/{{ e.exercise.id }}")
                    {{ e.exercise.name }}
            ion-item.item.scheme.item-text-wrap(ng-if="e.level=='other'")
              .row
                .col.col-100(style="text-align:right")
                  span(class="ui circular label scheme-circle")
                    {{ e.other.weight }}{{ e.other.reps ? ' ' + e.other.reps : '' }}{{ e.other.apps ? ' ' + e.other.apps : '' }}
            span(ng-if="e.level!='other'")
              ion-item.scheme.item.item-text-wrap(style="padding:0px;",ng-if="settings.show_warmup",
                on-tap="schemePress()",on-swipe-left="warmupSchemeCancel(e)",on-hold="warmupSchemeDone(e)")
                .row
                  .col.col-25
                    span(class="ui horizontal label") Разминка
                  .col.col-75(style="text-align:right",ng-init="e.numbers=getWarmupNumber(e)")
                    span(ng-repeat="s in e.numbers track by $index",style="position:relative"
                      class="ui circular label {{ state.executions[e.id].length > $index ? 'green' : '' }} scheme-circle")
                      span(style="{{ !settings.show_breaks ? '' : 'opacity:0' }}")
                        {{ s.weight }}кг*{{ s.reps }}
                      span(style="position:absolute;font-size:80%;font-weight:500;top:0.6em;left:0;width:100%;{{ settings.show_breaks ? '' : 'visibility:hidden' }}")
                        {{ state.executions[e.id][$index] ? secondsFormat(state.executions[e.id][$index]) : '-' }}
              ion-item.scheme.item.item-text-wrap(ng-repeat="s in e.scheme",on-tap="schemePress()",
                on-hold="schemeDone(s)",on-swipe-left="schemeCancel(s)")
                .row
                  .col.col-25
                    span(class="ui horizontal label {{ s.color|info_color }}" ng-init="s.clicked=1" ng-click="s.clicked = s.clicked ? 0 : 1")
                      span(ng-switch="s.clicked")
                        span(ng-switch-when="1")
                          {{ s.weight }}кг
                        span(ng-switch-when="0")
                          {{ s.percent }}%
                  .col.col-75(style="text-align:right")
                    span(ng-repeat="i in getNumber(s.apps) track by $index",on-tap="showSchemeMenu(e, s, $index+1)")
                      span(class="ui circular label {{ state.schemes[s.id].length > $index ? 'green' : '' }} scheme-circle",
                        style="position:relative")
                        span(style="{{ !settings.show_breaks ? '' : 'opacity:0' }}")
                          {{ s.reps }}
                          i.icon.ion-ios-film-outline(style="padding-left:4px;",ng-if="s.videos[($index+1)]")
                        span(style="position:absolute;font-size:80%;font-weight:500;top:0.6em;left:0;width:100%;{{ settings.show_breaks ? '' : 'visibility:hidden' }}")
                          {{ state.schemes[s.id][$index] ? secondsFormat(state.schemes[s.id][$index]) : '-' }}
    ion-list
      a.item.button.button-full.button-calm.ion-ios-chatbubble(ng-if="train.comment",ng-click="$root.showMessagePopup('Комментарий', train.comment);") &nbsp;Комментарий
      a.item.button.button-full.button-calm.ion-ios-paper(ng-if="train.resume",ng-click="$root.showMessagePopup('Итоги', train.resume);") &nbsp;Итоги
  ion-footer-bar(class="bar-stable",align-title="right")
    .buttons
      button.button.button-clear.button-icon.ion-ios-refresh-empty(ng-if="state.start && state.stop" ng-click="clearState()") Сбросить итоги
      button.button.button-clear.button-icon.ion-ios-pause(ng-if="state.start && !state.stop" on-hold="stopTrain()" ng-click="$root.showInfo(messages.stop_timer)") Закончить
      button.button.button-clear.button-icon.ion-ios-play(ng-if="!state.start" ng-click="startTrain()") Начать
    h1.title
    .buttons
      button(class="button button-icon button-clear ion-ios-stopwatch-outline",
        on-release="hideBreaks()",on-touch="showBreaks()",on-hold="settings.try_timer=true") &nbsp;
        b(ng-if="state.timer" passed-seconds="state.timer")
