ion-modal-view
  include ../message_block
  ion-header-bar(class="bar bar-header bar-stable")
    h1.title Итоги тренировки
    button(class="button button-clear button-icon ion-android-close",ng-click="closeStats()")
  ion-content
    ion-list.list
      .row(style="font-size: 16px;text-align:center;padding-top:14px")
        .col(ng-if="state.start")
          .badge.badge-positive {{ state.start.toDateString() == today.toDateString() ? (state.start|date:"H:mm") : (state.start|date:"d.M.yy H:mm") }}
          p Начало
        .col(ng-if="st.duration")
          .badge.badge-positive  {{ secondsFormat(st.duration) }}
          p Длительность
        .col(ng-if="state.stop")
          .badge.badge-positive  {{ state.stop.toDateString() == today.toDateString() ? (state.stop|date:"H:mm") : (state.stop|date:"d.M.yy H:mm") }}
          p Конец
        .col(ng-if="!state.stop && state.timer")
          .badge.badge-positive  ~{{ st.apr_stop.toDateString() == today.toDateString() ? (st.apr_stop|date:"H:mm") : (st.apr_stop|date:"d.M.yy H:mm") }}
          p Конец
        .col(ng-if="state.timer")
          .badge.badge-positive(passed-seconds="state.start")
          p Прошло
        .col(ng-if="st.apr_stop")
          .badge.badge-positive(passed-seconds="st.apr_stop")
          p Осталось
      .row(style="font-size: 16px;text-align:center;padding-top:14px")
        .col
          .badge.badge-positive {{ train.tonag|number:0 }}
          p Тоннаж
        .col
          .badge.badge-positive {{ train.kps|number:0 }}
          p КПШ
        .col
          .badge.badge-positive {{ train.percent|number:2 }}%
          p ОИ
      .item.item-text-wrap(ng-if="st.time_percent")
        div Время {{ st.time_percent }}%
        .loader(style="width: {{ st.time_percent }}%;")
          p.percent
      .item.item-text-wrap(ng-if="st.tonag_percent")
        div Тоннаж {{ st.tonag_percent }}%
          div(style="float:right;") {{ state.tonag|number:0 }} из {{ train.tonag|number:0 }}
        .loader(style="width: {{ st.tonag_percent }}%;")
          p.percent
      .item.item-text-wrap(ng-if="st.kps_percent")
        div КПШ {{ st.kps_percent }}%
          div(style="float:right;") {{ state.kps|number:0 }} из {{ train.kps|number:0 }}
        .loader(style="width: {{ st.kps_percent }}%;")
          p.percent
      ion-checkbox(ng-if="!can_record_state" ng-model="settings.show_warmup",ng-click="$root.storage.set(['settings', 'show_warmup'], settings.show_warmup)") Показывать разминку
      ion-item.item(ng-if="can_record_state")
        ion-label(floating="") Итоги тренировки
        textarea.text-input(placeholder="Можете ввести итоги тренировки..." autocomplete="off" ng-model="train.resume")
      a.item.button.button-full.button-balanced(ng-click="recordState()" ng-if="can_record_state") Сохранить итоги
      .item.button.button-full.button-assertive.ion-close(ng-if="train.is_done" ng-click="clearState();") &nbsp;Сбросить итоги
