doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    meta(http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src	'self' 'unsafe-inline' *; img-src 'self' data: *")
    meta(name="format-detection" content="telephone=no")

    title
    - var ts = "13.02"

    link(href="css/ionic.app.dark.min.css?#{ts}" rel="stylesheet")
    link(href="css/style.dark.css?#{ts}" rel="stylesheet")
    link(href="css/chat.dark.css?#{ts}" rel="stylesheet")
    link(href="css/semantic-ui/label.dark.css?#{ts}" rel="stylesheet")
    link(href="css/semantic-ui/table.css?#{ts}" rel="stylesheet")

    script(src="lib/ionic/js/ionic.bundle.min.js?#{ts}")
    script(src="lib/ngCordova/dist/ng-cordova.min.js?#{ts}")
    script(src="cordova.js?#{ts}")

    //script(src="lib/ionic.cloud.min.js")
    //script(src="lib/ionic-platform-web-client/dist/ionic.io.bundle.js")

    script(src="highcharts/highcharts.js?#{ts}")
    script(src="highcharts/init.js?#{ts}")
    script(src="highcharts/themes/dark-unica.js?#{ts}")

    script(src="js/locale-ru.min.js?#{ts}")
    script(src="jslib/ionic-timepicker.bundle.min.js?#{ts}")
    script(src="jslib/ionic-datepicker.bundle.min.js?#{ts}")
    script(src="jslib/smart-search-min.js?#{ts}")
    script(src="jslib/dom-to-image.min.js?#{ts}")

    script(src="js/app.min.js?#{ts}")
    script(src="js/controllers.min.js?#{ts}")
    script(src="js/add-video-form.min.js?#{ts}")
    script(src="js/user-select.min.js?#{ts}")

  body(ng-app="starter")
    ion-nav-view
