ion-view(view-title="База СРЦ")
  include ../message_block
  ion-content(ng-controller="CycleListCtrl")
    .bar.bar-header.item-input-inset
      label.item-input-wrapper
        i.icon.ion-ios-search.placeholder-icon
        input(type="search" placeholder="Поиск" ng-model="data.query" ng-change="search()" style="color:black;")
      button.button.button-clear(ng-click="data.query='';search()") отмена

    ion-list
      .item.item-text-wrap(style="text-align:center") Выберите один из саморасчитывающихся циклов ниже и создайте себе тренировочный план
      .item.item-divider(ng-if="data.cycles.length == 0" style="text-align:center") Загрузка...

    table.ui.single.line.table.very.compact(ng-if="data.cycles.length > 0")
      tr(ng-repeat="cycle in data.cycles")
        td
          a(href="#/app/cycle/{{ cycle.num }}") {{ cycle.name }}
        td {{ cycle.sport }}
        td {{ cycle.level }}
        td Период: {{ cycle.mode|lowercase }}
