ion-view(ng-controller="CycleShowCtrl")
  include ../message_block
  ion-nav-title {{ cycle.name }}
  ion-nav-buttons(side="right")
    button(class="button button-clear" ng-click="createPlan()") Создать план
  ion-tabs(class="tabs-icon-bottom")
    ion-tab(title="Описание",icon="ion-ios-information")
      ion-nav-view(name="about-tab")
        ion-view
          ion-content
            ion-list.list
              .item Вид спорта: {{ cycle.sport }}
              .item Уровень атлета: {{ cycle.level }}
              .item Период: {{ cycle.mode }}
              .item.item-text-wrap(ng-if="cycle.description") Описание: {{ cycle.description }}
              .item.item-text-wrap(ng-if="cycle.extra") Дополнительно: {{ cycle.extra }}
              .item Абсолютный вес: {{ cycle.abs_weight }}
              .item Весоростовое соотношение: {{ cycle.hw_ratio }}
    ion-tab(title="Настройки",icon="ion-ios-settings-strong")
      ion-nav-view(name="settings-tab")
        ion-view
          ion-content
            ion-list.list(ng-init="show_full_list=false;")
              .item.item-text-wrap(style="text-align:center") Для каждого упражнения ниже укажите ПМ - вес, с которым Вы можете выполнить максимум одно повторение.
              .item.item-divider
                b Основные упражнения
              label.item.item-input.item-stacked-label(ng-repeat="e in cycle.main_exercises track by e.id")
                span.input-label {{ e.name }}
                input(type="number",ng-model="cycle.weights[e.id]",ng-change="setWeight();",ng-min="0",ng-max="500")

              .item.item-divider.item-icon(ng-click="show_full_list = !show_full_list")
                i.ion-plus(ng-if="!show_full_list") &nbsp
                i.ion-minus(ng-if="show_full_list") &nbsp
                b Остальные упражнения
              .item.item-text-wrap(ng-if="show_full_list" style="color:red;text-align:center") Для упражнений ниже ПМ высчитываются автоматически. Вы можете изменить эти значения, однако это НЕ рекомендуется.
              label.item.item-input.item-stacked-label(ng-if="show_full_list" ng-repeat="e in cycle.exercises track by e.id")
                span.input-label {{ e.name }}
                p ({{ e.parent|lowercase }} * {{ e.parent_rate }})
                input(type="number",ng-model="cycle.weights[e.id]",ng-change="setWeight();",ng-min="0",ng-max="500")
              .item.item-divider Процент корректировки
              .item.range.range-positive
                {{ plan.correct_percent }}
                input(type="range",min="-5",max="5",ng-model="plan.correct_percent",step="0.1",ng-change="reset();")
              label.item.item-input.item-stacked-label
                span.input-label Дата начала (понедельник: {{ date_start.value | date: 'dd.MM.yy' }})
                input(type="date",ng-model="date_start.show",ng-change="resetDates();")
              label.item.item-input.item-stacked-label
                span.input-label Название плана
                input(type="text",ng-model="plan.name")
              .item.item-divider Дни недели
                &nbsp;
                i(ng-if="date_error") необходимо выбрать {{ cycle.week_days.length }} дней
              ion-checkbox(ng-model="week_days[0]",ng-change="resetDates();") Понедельник
              ion-checkbox(ng-model="week_days[1]",ng-change="resetDates();") Вторник
              ion-checkbox(ng-model="week_days[2]",ng-change="resetDates();") Среда
              ion-checkbox(ng-model="week_days[3]",ng-change="resetDates();") Четверг
              ion-checkbox(ng-model="week_days[4]",ng-change="resetDates();") Пятница
              ion-checkbox(ng-model="week_days[5]",ng-change="resetDates();") Суббота
              ion-checkbox(ng-model="week_days[6]",ng-change="resetDates();") Воскресенье
    ion-tab(title="План",icon="ion-ios-list-outline")
      ion-nav-view(name="plan-tab")
        ion-view
          ion-content
            ion-list.list
              .item.item-text-wrap(style="text-align:center") Вы можете просмотреть только первую и последнюю недели СРЦ. Чтобы просматривать полный тренировочный план, необходимо создать план и&nbsp;
                a(href="#/app/payment/list") оплатить подписку
              .item.item-divider
                p(style="text-align:center;") чтобы посмотреть план выберите неделю
              .item(ng-repeat="(micro_num, days) in cycle.plan track by micro_num",ng-click="showModal(micro_num);")
                b Неделя №{{ $index+1 }}
