ion-modal-view
  ion-header-bar.bar.bar-header
    h1.title Неделя №{{ current_week_num }}
    button.button.button-clear.button-primary(ng-click="closeModal()") закрыть
  ion-content
    div(ng-repeat="(day_num, day) in current_week track by day_num")
      .item.item-text-wrap(style="text-align:center;") чтобы увидеть скрытые раскладки создайте план и оплатите подписку
      .item.item-divider
        {{ day.date|date:'dd.MM.yy EEEE' }}
      .item.item-text-wrap(style="padding:0px;")
        div(ng-repeat="e in day.list")
          .row(style="padding:0px;")
            .col(style="")
              span(class="ui mini label {{ e.level|level_color }}")
                {{$index+1}}
              &nbsp;
              {{ e.exercise.name }}
              &nbsp;({{ e.pm|number:2 }} кг)
          .row(style="padding:0px;")
            .col(style="text-align:right;",ng-if="e.is_hidden")
              div(class="ui label horizontal") доступно в созданном плане
            .col(style="text-align:right;",ng-if="!e.is_hidden")
              div(class="ui label horizontal {{ s.color|info_color }}",ng-repeat="s in e.scheme",
                ng-init="s.clicked=1",ng-click="s.clicked = s.clicked ? 0 : 1")
                span(ng-switch="s.clicked")
                  span(ng-switch-when="1") {{ s.weight|my_round }}кг&nbsp;
                  span(ng-switch-when="0") {{ s.percent }}%&nbsp;
                  span {{ s.apps > 1 ? (s.apps + ' по ' + s.reps ) : ('на ' + s.reps ) }}
