ion-view(view-title="Мой вес")
  include ../message_block
  ion-content(ng-controller="WeightStatCtrl")
    ion-refresher(pulling-text="Обновить ...",on-refresh="update(true)")
    #plot
    ion-list.list
      label.item.item-input.item-stacked-label
        span.input-label Дата
        input(type="date",ng-model="record.date")
      label.item.item-input.item-stacked-label
        span.input-label Вес
        input(type="number",ng-model="record.weight")
      .item.button.bar.bar-footer.bar-balanced(ng-click="send();") Взвеситься
