ion-view(ng-controller="WsIndexCtrl")
  include ../message_block
  ion-nav-title {{ getDateStr() }}
  ion-nav-buttons(side="right")
    button.button.button-clear.ion-chevron-left(ng-click="prevDay()" style="width: 30px")
    button.button.button-clear.ion-android-radio-button-on(ng-click="toDay()" style="width: 30px")
    button.button.button-clear.ion-chevron-right(ng-click="nextDay()" style="width: 30px")
  ion-tabs
    ion-tab(title="Тренировки" badge="trains_badge" badge-style="badge-assertive")
      ion-nav-view
        ion-view
          ion-content
            ion-refresher(pulling-text="Обновить ...",on-refresh="update(true)")
            div(ng-if="!trains || trains.length == 0")
              .item.item-divider
                p(style="text-align:center") Tренировок нет
              .item.item-text-wrap(style="text-align:center") Вы можете&nbsp;
                br
                span
                  a(href="#/app/cycle/list") выбрать тренировочный план в базе СРЦ
                br
                span или создать план самостоятельно
                br
                span по ссылке
                p
                  b
                    a(href="http://ws.last-man.org/plan/list/") http://ws.last-man.org/plan/list/
            .card(ng-repeat="train in trains")
              a.item.item-divider(href="#/app/plan/{{train.plan.id}}" style="text-align:center")
                {{ train.plan.name }}
              .item.item-divider(ng-if="train.name" style="text-align:center")
                {{ train.name }}
              include ../train/preview
    ion-tab(title="Медикаменты" badge="meds_badge" badge-style="badge-assertive")
      ion-nav-view
        ion-view
          ion-content
            ion-refresher(pulling-text="Обновить ...",on-refresh="update(true)")
            div(ng-if="!meds || meds.length == 0")
              .item.item-divider
                p(style="text-align:center") Медикаментов нет
              .item.item-text-wrap(style="text-align:center") Вы можете создать
                br
                span схему приема медикаментов (СПМ)
                br
                span
                  a(href="#/app/spm/list") в разделе СПМ
            .card(ng-repeat="med in meds")
              a.item.item-divider(href="#/app/spm/{{med.course.id}}",style="text-align:center")
                {{ med.course.name }}
              - var drugs = 'med.drugs'
              include ../spm/preview
