ion-modal-view
  include ../message_block
  ion-header-bar(class="bar bar-header bar-stable")
    h1.title Добавить прием
    button(class="button button-clear button-icon ion-android-close" ng-click="regimenHideAddForm()")
  ion-content
    ion-list.list
      div(ng-if="regimen.new_drug")
        .item.item-divider(style="text-align:center") Новый медикамент
        label.item.item-input
          input(type="text" placeholder="Название медикамента" ng-model="regimen.new_drug.name")
          button.button.button-clear(on-tap="regimen.name='';regimen.new_drug=null;")
            i.icon.ion-ios-close-outline
        label.item.item-input
          input(type="text" placeholder="Сокращенно (необязательно)" ng-model="regimen.new_drug.short_name")
        label.item.item-input.item-select
          span.input-label Мера измерения
          select(ng-model="regimen.new_drug.measure" ng-init="regimen.new_drug.measure='ед'" ng-options="m for m in measures" style="color:#eee")
      div(ng-if="!regimen.new_drug")
        .item.item-divider(style="text-align:center") Выбор медикамента
        label.item.item-input
          input#drug_input(type="text" placeholder="Название медикамента" ng-model="regimen.name"
          ng-readonly="regimen.drug_id" ng-change="regimenSearchDrug()")
          button.button.button-clear(on-tap="regimen.name='';regimen.drug_id=null;")
            i.icon.ion-ios-close-outline
        label.item.item-input.item-select(ng-if="regimen.drug_id")
          span.input-label Мера измерения
          select(ng-model="regimen.measure" ng-options="m for m in measures" style="color:#eee" ng-readonly="true")
        .item.item-text-wrap(ng-repeat="drug in regimen.drugs" ng-bind="drug.entry.name"
        on-tap="regimenSelectDrug(drug.entry);regimenHideDrugForm()")
        div(ng-if="!regimen.drug_id && regimen.name.length > 2")
          .item(ng-if="!regimen.drugs || regimen.drugs.length == 0" style="font-style: italic") Медикаментов не найдено
          button.button.button-stable.button-full.mar0(ng-click="regimenNewDrug()")
            i.icon.ion-plus-circled &nbsp;добавить новый медикамент
      .item.item-divider(style="text-align:center") Дневные приемы
      .row.pad0(ng-repeat="dose in regimen.doses")
        .col.col-30.pad0
          label.item.item-input
            input(type="number" placeholder="Дозировка" ng-model="dose.amount")
        .col.col-70.pad0
          label.item.item-input
            input(type="text" placeholder="Комментарий" ng-model="dose.comment")
        button.button.button-clear(ng-if="$index==0" on-tap="regimenAddDose()")
          i.icon.ion-plus-circled
        button.button.button-clear(ng-if="$index>0" on-tap="regimenDelDose($index)")
          i.icon.ion-minus-circled
      .padding
        button.button.button-block.button-balanced(on-tap="regimenSend()") Сохранить
