ion-modal-view
  include ../message_block
  ion-header-bar(class="bar bar-header bar-stable")
    h1.title Создать СПМ
    button(class="button button-clear button-icon ion-android-close" ng-click="hideForm()")
  ion-content
    .list
      label.item.item-input.item-stacked-label
        span.input-label Название
        input(type="text" placeholder="Название" ng-model="course.name")
      label.item.item-input.item-stacked-label
        span.input-label Дата начала
        input(type="date" ng-model="course.start_date")
      ion-toggle(ng-model="course.is_public")
        span Публичный доступ
    .padding
      button.button.button-block.button-balanced(on-tap="createCourse()") Создать
