ion-modal-view
  include ../message_block
  ion-header-bar(class="bar bar-header bar-stable")
    h1.title Информация
    button(class="button button-clear button-icon ion-android-close" ng-click="hideInfo()")
  ion-content
    .list
      div(ng-if="course.author")
        .item.item-divider Редактор
          span.item-note(ng-if="access.edit" on-tap="changeAuthor()") изменить
        .item.item-avatar(ng-if="course.author")
          img(ng-src="{{ course.author.avatar_100 }}")
          h2
            b {{ course.author.fullname }}
          p
            i @{{ course.author.username }}
      div(ng-if="course.patient")
        .item.item-divider Спортсмен
          span.item-note(ng-if="access.edit" on-tap="changeSportsman()") изменить
        .item.item-avatar
          img(ng-src="{{ course.patient.avatar_100 }}")
          h2
            b {{ course.patient.fullname }}
          p
            i @{{ course.patient.username }}
      label.item.item-input.item-stacked-label
        span.input-label Название
        input(type="text" placeholder="Название" ng-model="course.name" ng-readonly="!access.edit")
      ion-toggle(ng-model="course.is_public" ng-readonly="!access.edit")
        span Публичный доступ
    .padding(ng-if="access.edit")
      button.button.button-block.button-balanced(on-tap="saveCourse()") Сохранить
    .padding(ng-if="access.delete")
      button.button.button-block.button-assertive(on-tap="deleteCourse()") Удалить
