ion-view(view-title="Мои спм")
  include ../message_block
  ion-nav-buttons(side="right")
    button(class="button button-icon button-clear ion-plus" ng-click="showForm()")
  ion-content(ng-controller="SPMListCtrl")
    ion-refresher(pulling-text="Обновить ...",on-refresh="update(true)")
    ion-list
      .item.item-text-wrap(ng-if="!spms || spms.length==0" style="text-align:center")
        span Создайте схему приема медикаментов (СПМ) нажав на&nbsp;
          i.icon.ion-plus
        &nbsp;
        span сверху
      .item.item-text-wrap(ng-repeat="spm in spms")
        .row(style="padding:0px;")
          a.col(href="#/app/spm/{{ spm.id }}") {{ spm.name }}
        .row(style="padding:0px;",ng-if="spm.patient")
          .col(style="text-align:right;") спортсмен:&nbsp;
            a(href="#/app/user/{{ spm.patient.id }}") {{ spm.patient.fullname }}
        .row(style="padding:0px;")
          .col(style="text-align:right;") автор:&nbsp;
            a(href="#/app/user/{{ spm.author.id }}") {{ spm.author.fullname }}
