div(ng-repeat="drug in #{drugs}")
  .item.item-divider.drug-name
    span(class="ui mini label" ng-style="{'background-color': drugColor ? drugColor(drug) : 'none'}")
      {{$index+1}}
    &nbsp;
    {{ drug.name }}
  .item(ng-repeat="dose in drug.doses" ng-init="dose.loading=false" ng-click="doseMark(dose)" style="padding:8px 8px")
    span.ui.label.horizontal {{ dose.amount }} {{ drug.measure }}
    span {{ dose.comment }}
    .item-note
      span(ng-if="dose.marked_at && dose.is_marked!=null") {{ dose.marked_at|ts2date|date:'dd.MM H:mm' }}&nbsp;
      span.ui.label.horizontal(ng-class="{'green': dose.is_marked === true, 'red': dose.is_marked === false}" ng-init="dose.loading=false")
        i(ng-class="{'ion-load-c spinner': dose.loading, 'ion-ios-circle-outline': !dose.loading&&dose.is_marked==null, 'ion-checkmark-circled': !dose.loading&&dose.is_marked==true, 'ion-minus-circled': !dose.loading&&dose.is_marked==false}")
