ion-view(ng-controller="SPMShowCtrl")
  include ../message_block
  ion-nav-title {{ course.name }}
  ion-nav-buttons(side="right")
    button.button-icon.button-clear.ion-plus(ng-if="access.edit" ng-click="regimenShowAddForm()")
    button.button-icon.button-clear.ion-ios-information(ng-click="showInfo()")
  ion-content.calendar(scroll="false")
    .block1(ng-style="{'height': block1_height, 'width': block1_width}"
      ng-class="{'vertical': orient == 'vertical', 'horizontal': orient == 'horizontal'}")
      .row.week-title
        .col.week №
        .col ПН
        .col ВТ
        .col СР
        .col ЧТ
        .col ПТ
        .col СБ
        .col ВС
      div(ng-style="{'height': scroll1_height, 'width': scroll1_width}")
        ion-scroll.scroll(direction="y")
          .button.button-stable.button-small.button-full.mar0(ng-if="start" ng-click="loadUp()")
            span(ng-if="!params.loadingUp") загрузить
            span(ng-if="params.loadingUp") загрузка ...
          .row.week-line(ng-repeat="week in weeks")
            .col.week(on-tap="selectWeek(week, true)" on-hold="selectWeek(week, false)" ng-bind="'#'+week.num")
            .col.day(ng-repeat="day in week.days" on-tap="selectDay(day, true)" on-hold="selectDay(day, false)"
              ng-class="{'selected': selectedDay(day), 'active': activatedDay(day), 'odd': oddMonth(day.date), 'current': current(day.date)}")
              span(ng-bind-html="getDate(day.date)")
              .drugs-block(ng-if="params.show_day_drugs")
                .drug-block(ng-repeat="drug in day.drugs" ng-style="{'background-color': getDrug(drug).color}")
          .button.button-stable.button-small.button-full.mar0(ng-if="end" ng-click="loadDown()")
            span(ng-if="!params.loadingDown") загрузить
            span(ng-if="params.loadingDown") загрузка ...
    .block2(ng-style="{'height': block2_height, 'width': block2_width}"
      ng-class="{'vertical': orient == 'vertical', 'horizontal': orient == 'horizontal'}")
      div(ng-style="{'height': scroll2_height, 'width': scroll2_width}")
        ion-scroll.scroll(ng-if="params.mode == 'period'" direction="y")
          .list
            .item.item-text-wrap(ng-if="getSelectedCount() == 0") Выберите дни на календаре
            .item.item-input(ng-if="getSelectedCount() > 0") Выбрано {{ getSelectedCount()}} дней
              button.button.button-clear(on-tap="resetSelected()")
                i.icon.ion-ios-close-outline
            div(ng-repeat="drug in params.stat")
              .item.item-divider.drug-name(on-tap="selectDrug(drug.id)"
                ng-class="{'drug-selected': params.drug_id==drug.id, 'drug-disabled': drug.total==0}")
                span(class="ui mini label" ng-style="{'background-color': getDrug(drug).color}" style="color:black")
                  {{$index+1}}
                &nbsp;
                span(ng-bind="drug.name")
              .item(style="padding:8px 8px")
                span(class="ui label horizontal")
                  {{ drug.total }} {{ drug.measure }}
                .item-note
                  span(ng-if="drug.total>0 && access.edit" class="ui label horizontal" on-tap="deleteDoses(drug.id)")
                    i.ion-ios-close-outline
        ion-scroll.scroll(ng-if="params.mode == 'day'" direction="y")
          .list
            .item.item-text-wrap(ng-if="!params.day" style="text-align:center")
              p чтобы просмотреть день
              p нажмите на него
            .item(ng-if="params.day") Дата
              span.item-note(ng-bind="params.day.date|ts2date|date:'dd.MM.yy'")
            div(ng-repeat="drug in params.day.drugs")
              .item.item-divider.drug-name
                span(class="ui mini label" ng-style="{'background-color': getDrug(drug).color}" style="color:black")
                  {{$index+1}}
                &nbsp;
                {{ drug.name }}
              .item(ng-repeat="dose in drug.doses" ng-init="dose.loading=false" ng-click="doseMark(dose)" style="padding:8px 8px")
                span.ui.label.horizontal {{ dose.amount }} {{ getDrug(drug).measure }}
                span {{ dose.comment }}
                .item-note
                  span(ng-if="dose.marked_at && dose.is_marked!=null") {{ dose.marked_at|ts2date|date:'dd.MM H:mm' }}&nbsp;
                  span.ui.label.horizontal(ng-class="{'green': dose.is_marked === true, 'red': dose.is_marked === false}")
                    i(ng-class="{'ion-load-c spinner': dose.loading, 'ion-ios-circle-outline': !dose.loading&&dose.is_marked==null, 'ion-checkmark-circled': !dose.loading&&dose.is_marked==true, 'ion-minus-circled': !dose.loading&&dose.is_marked==false}")
      .button-bar.footer-modes
        a.button.button-small(on-tap="selectTab('day')"
          ng-class="{'active': params.mode == 'day'}" style="padding: 0") День
        a.button.button-small(on-tap="selectTab('period')"
          ng-class="{'active': params.mode == 'period'}" style="padding: 0") Период
