.messages {
  clear: both;
}
.messages .message {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  padding: 10px !important;
  overflow: hidden !important;
  text-align: left !important;

  background: #292b2d !important;
  display: block;
  color: white !important;
  padding: 10px !important;
  margin: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}
.message.other {
  background: #373e42 !important;
  float: right;
  margin: 5px !important;
}
.online-icon {
  color: #62c462;
}
.offline-icon {
  color: #ee5f5b;
}
