/* calendar */
.calendar .block1.vertical {
  border-bottom: 4px solid #454b51;
}
.calendar .block1.horizontal {
  border-right: 4px solid #454b51;
  float: left;
}
.calendar .block2.horizontal {
  float: right;
}
.calendar .scroll {
  height: 100% !important;
  width: 100% !important;;
}
.calendar .col.day .month {
  font-size: 85%;
  top: -10px;
  position: relative;
  display: block;
  height: 8px;
}
.calendar .col.week {
  text-align: center;
  color: #707173;
  width: 30px;
  flex: initial;
  padding: 0px;
  margin-top: 5px;
}
.calendar .col.day.current {
  background: rgba(255, 255, 255, 0.34) !important;
  color: black;
}
.calendar .col.day.active {
  border: 2px solid darkred;
  padding: 3px;
}
.calendar .week-title {
  overflow: hidden;
}
.calendar .week-title .col {
  text-align: center;
}
.calendar .col.day {
  text-align: center;
  position: relative;
  background: rgb(38, 40, 43);
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 4px;
}
.calendar .col.day.odd {
  background: rgb(47, 49, 53);
}
.calendar .col.day.selected {
  font-weight: bold;
  background: rgba(239, 71, 58, 0.23)
}
.calendar .col.day .badge {
  position: absolute;
  top: -5%;
  right: -5%;
  padding: 1px 5px;
  height: auto;
  font-size: 10px;
  line-height: 12px;
}
.calendar .col.day .drugs-block {
  line-height: 0px;
}
.calendar .col.day .drug-block {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  margin: 2px;
}
.item.drug-name {
  white-space: initial;
  padding: 4px 8px;
}
.calendar .item.drug-disabled{
  color: #555659;
}
.calendar .item.drug-selected {
  background-color: #4d2727;
}
/* status */
.status-online {color:#06e206;font-size:70%;}
.status-offline {opacity:0.5;font-size:70%;}
/* notifications */
.notifications .item-icon-left .icon {
  left: 18px;
}
.notifications .item-icon-left {
  padding-left: 72px;
}
.notifications .date {
  display: block;
}
.notifications .item.unread  {
  background: #4c0000;
}
.notifications .item p {
  white-space:normal;
}

.item-radio input:checked + .radio-content .item-content {
  background-color: #080808 !important;
}
.loading-container .loading {
  box-shadow: 1px 1px 2px black, 0 0 1em red;
  color: red !important;
}
.pad0 {
  padding: 0 !important;
  text-align: center;
}
.mar0 {
  margin: 0 !important;
}
/* progress bar */
.tabs .tab-item .badge {
  right: 5px;
}
.loader {
  background: rgb(242, 13, 13) !important;
  height: 20px;
}
.loader p {
  text-align: center;
  color: white !important;
  box-shadow: 0 0 10px red;
}
/* меню */
.my-menu-icon {
  /*text-shadow: 2px 2px 4px black, 0 0 2em red;*/
  font-size: 24px;
}
.my-menu-title {
  font-size: 16px;
}
.my-shadow {
}
.my-menu .item-divider {
  background-color: #29161a !important;
}
.my-menu .row, .my-menu .item {
  background-color: #301b1f;
}
.my-menu .item-content {
  background-color: #301b1f !important;
}

/* разминка */
.warmup-active {
  background-color: rgba(239, 71, 58,0.2) !important;
  color: white !important;
  font-weight: bold;
}
.warmup-done {
  background-color: rgba(239, 71, 58,0.5) !important;
  color: white !important;
}
.warmup-item {
  padding: 6px !important;
}

.text-input {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 0;
  width: calc(100% - 8px);
  border: 0;
  border-radius: 0;
  background: transparent;
  -webkit-appearance: none;
  flex: 1;
}
.message-block {
  bottom: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  z-index: 9;
}
.message-block-pad {
  bottom: 44px !important;
}
.message-block.success {
  background: #33cd5f;
  color: white;
}
.message-block.error {
  background: #ef473a;
  color: white;
}
.message-block.info {
  background: #387ef5;
  color: white;
}

.card {
  box-shadow: 0 1px 3px rgb(255, 255, 255) !important;
}
.spinner {
  display: inline-block;
  position: relative;

  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
.spinner:after {
    display: block;
    width: 0;
    height: 0;


    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes spin {
    to { -o-transform: rotate(360deg); }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
.scheme-block {
  margin-bottom: 0.2em !important;
}
.scheme-circle {
  margin: 0 0.2em 0.2em 0 !important;
  min-width: 2.2em;
  min-height: 2.2em;
  line-hight: 1.1em;
}
ion-item.scheme, ion-item.scheme > .item-content {
  padding: 0 !important;
}
ion-item.item.scheme .horizontal.label {
  height: 30px;
  font-size: 100%;
  padding: 0.3em 0.4em;
}
ion-item.item.scheme .icon.ion-refresh {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
